body {
    font-family: "Source Sans 3", sans-serif;
    margin: 0; /*para que nada tenga un margen por defecto*/
    background-color: #c0e5d1a7;
    color: #26342c;
}


/*ESTILOS DEL REGISTRO*/
.registro {
    display: flex; /*para que podamos utilizar propiedades del flexbox*/
    justify-content: center;
    align-items: center;
    min-height: 100vh; /*para que el registro ocupe toda la altura de la pantalla*/
}


/*ESTILOS DEL CONTENEDOR DEL REGISTRO*/
.contenedor-registro {
    display: flex; /*para que podamos utilizar propiedades del flexbox*/
    justify-content: center;
    align-items: center;
    flex-direction: column; /*para que los elementos se alineen en columna*/
    background-color: #ffffff;
    border-radius: 10px;
    padding: 35px; /*reducimos el espacio interno*/
    gap: 5px; /*dejamos menos espacio entre los elementos*/
}


/*ESTILOS DEL TITULO*/
h1 {
    color: #183d2b;
    font-size: 35px;
    margin-bottom: 15px; /*dejamos menos espacio debajo del titulo*/
}


/*ESTILOS DE LOS INPUTS*/
input {
    width: 100%;
    padding: 9px;
    margin-bottom: 5px; /*dejamos menos espacio entre los inputs*/
    border: 1px solid #ccc;
    border-radius: 5px;
}


/*ESTILOS DE LOS LINKS*/
a {
    text-decoration: none;
    color: #3da56d;
}

a:hover {
    color: #386458;
    text-decoration: underline;
}


/*ESTILOS DEL BOTON*/
button {
    width: 100%;
    padding: 10px;
    margin-top: 8px; /*separamos un poco el boton del ultimo input*/
    background-color: #3da56d;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #386458;
}

/*CAMPO ERROR/MENSAJE*/
.campo-error {
    border: 2px solid red;
}

#mensaje-error {
    color: red;
    font-size: 14px;
    margin: 5px;
}